.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
	
}
.navbarbgnew{
	background-image: linear-gradient(to right, #004567, #38538d, #7b58a6, #c254a8, #ff5092) !important;
	border: none !important;
}
.buttonbg{
    background-color: #004567 !important;
}
.buttonbg:hover{
	background-color: #353e42 !important;
	
}
.navhover{
	box-shadow:none;
	border-bottom:1px solid transparent;
	transition: 0.7s;
}
.navhover:hover{
	border-bottom:0.5px solid white;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.card {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: #fdfdfd;
	border-radius:20px;
	border:none;
	overflow:hidden;
  }
  
  .card:hover {
	transform: scale(1.03);
  }
body.loggedin {
	background: url('images/bg-01.jpg') !important;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}